



.subtitulo {
    margin: 0;
    color: #fff;
    display: inline;
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    
}

.sabor { 
    color: #fff;
    margin: 250px 0;
    font-size: 2em;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}

.carousel {
    min-height: 500px;
    
}


.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    
    width: 80%!important;
    height: 80%!important;

}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;

}

.carousel .indicators .indicator-item {
    border-radius: 0 !important;
    transform: rotate(45deg) !important;
    margin: 0 15px !important;
    background-color: black !important;
    
    
    
}

.carousel .indicators .indicator-item:not(.active) {
    background-color: rgb(156, 150, 150) !important; /* Reemplaza "tu_color_inactivo" con el color deseado para indicadores inactivos */
}

.flex-center2 {
    background: linear-gradient(to right, #d6d6d6, #dedede );
    display: flex;
    
    flex-direction: column;
    height: 70em;
    
    
}

.flex-center3 {
    background: linear-gradient(to right, #918d8d, #dedede );
    display: flex;
    
    flex-direction: column;
    height: 67em;
    
    
}

.capacitar {
    position: relative;
    display: flex;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    flex-direction: column;
    justify-content: center;
    height: 5em;
    text-align: center;
    top: 2%;
    width: 100%;
}

.solidaridad {
    position: relative;
    display: flex;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    flex-direction: column;
    justify-content: center;
    height: 5em;
    text-align: center;
    top: 2%;
    width: 100%;
}

.mySlides {
    display: none;

}

.mySlides img {
    vertical-align: middle;
    border-radius: 15px;
}

.slideshow-container {
    max-width: 70%;
    
    position: relative;
    margin: 0 auto;
    top: 5%;
    
}

#prev, #next  {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

}

#next {
    right: 0;
    border-radius: 3px 0 0 3px;

}

#prev:hover, #next:hover {
    background-color: rgba(0,0,0,0.8);

}

.text1 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 15%;

}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 20%;
    margin-right: 5%;
}

.dot.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s ;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}

}

/*responsive */
@media only screen and (max-width:300px) {
    #prev, #next, .text1 {
        font-size: 11px;
    }

    .dot {
        height: 10px;
    width: 10px;
    }
}

@media only screen and (max-width:500px) {
    #prev, #next, .text1 {
        font-size: 14px;
    }

    
}

.form__cta {
    display: flex;
    height: 2.2em;
    width: 5.5em;
    background: #eaddcc;
    color: #607a9d;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius:  0.5em;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    margin-top: 3em;
    
}



.form__input[name="name"]::placeholder {
    color: rgba(97, 94, 93,0.5);
}

.form__input[name="email"]::placeholder {
    color: rgba(97, 94, 93, 0.5);
}



.form__input[name="message"] {
    height: 100px; /* Ajusta el valor según la altura deseada */
    margin-top: 2em;
}

.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 0.2rem;
    height: 6rem;
    z-index: -1;
    
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;


    
}

.go-top-button i {
    position: absolute;
    font-size: 2rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;


}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .5s ease-in-out;
    width: 4rem;
    height: 4rem;
    z-index: 11;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }

    50% {
        width: 6rem;
        height: 6rem;
    }

    100% {
        width: 4rem;
        height: 4rem;
    }


}






