

#container_carousel {
    overflow: hidden !important;
}

.subtitulo {
    margin: 0;
    color: #fff;
    display: inline;
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    
}

.sabor { 
    color: #fff;
    margin: 250px 0;
    font-size: 2em;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    margin-top: 0;
}




.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
    overflow: hidden;
}

.carousel {
    min-height: 500px;
    
    
    
}


.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: hidden;
    width: 80%!important;
    height: 80%!important;

    


}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
    overflow: hidden;
    z-index: -1;
    border-radius: 15px;
    

}


.carousel .indicators .indicator-item {
    border-radius: 50% !important;
    
    margin: 0 10px !important;
    background-color: black !important;
    width: 15px !important;
    height: 15px !important;
    
    
    
}

.carousel .indicators .indicator-item:not(.active) {
    background-color: rgb(156, 150, 150) !important; /* Reemplaza "tu_color_inactivo" con el color deseado para indicadores inactivos */
}

.flex-center2 {
    background: linear-gradient(to right, #d6d6d6, #dedede );
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 72em;
    
    
}

.flex-center3 {
    background: linear-gradient(45deg,#f1f1f1, #299bb6, #1b71aa);
    display: flex;
    
    flex-direction: column;
    height: 73em;
    animation: cambiar1 10s ease infinite;
    background-size: 400%, 400%;
    
    
}

@keyframes cambiar1 {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}


.capacitar {
    position: relative;
    display: flex;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    flex-direction: column;
    justify-content: center;
    height: 5em;
    text-align: center;
    top: 2%;
    width: 100%;
}

.solidaridad {
    position: relative;
    display: flex;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    flex-direction: column;
    justify-content: center;
    height: 5em;
    text-align: center;
    top: 2%;
    width: 100%;
}

.mySlides {
    display: none;

}

.mySlides img {
    vertical-align: middle;
    border-radius: 15px;
}

.slideshow-container {
    max-width: 70%;
    
    position: relative;
    margin: 0 auto;
    top: 5%;
    
}



#prev, #next  {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

}

#next {
    right: 0;
    border-radius: 3px 0 0 3px;

}

#prev:hover, #next:hover {
    background-color: rgba(0,0,0,0.8);

}

.text1 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 15%;

}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 8px;
    background-color: rgb(156, 150, 150);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 20%;
    margin-right: 5%;
    
    
    

    
}

.dot.active, .dot:hover {
    background-color: black;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s ;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}

}

/*responsive */
@media only screen and (max-width:300px) {
    #prev, #next, .text1 {
        font-size: 11px;
    }

    .dot {
        height: 10px;
    width: 10px;
    }
}

@media only screen and (max-width:500px) {
    #prev, #next, .text1 {
        font-size: 14px;
    }

    
}

.form__cta {
    display: flex;
    height: 2.2em;
    width: 5.5em;
    background: #eaddcc;
    color: #607a9d;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius:  0.5em;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    margin-top: 3em;
    
}



.form__input[name="name"]::placeholder {
    color: rgba(97, 94, 93,0.5);
}

.form__input[name="email"]::placeholder {
    color: rgba(97, 94, 93, 0.5);
}



.form__input[name="message"] {
    height: 100px; /* Ajusta el valor según la altura deseada */
    margin-top: 2em;
}

.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 0.2rem;
    height: 6rem;
    z-index: -1;
    
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;


    
}

.go-top-button i {
    position: absolute;
    font-size: 2rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;


}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .5s ease-in-out;
    width: 4rem;
    height: 4rem;
    z-index: 11;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);

}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }

    50% {
        width: 6rem;
        height: 6rem;
    }

    100% {
        width: 4rem;
        height: 4rem;
    }


}

/* estilos.css */

#miDiv {
    display: none;
}

.home {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 15%;
}

.home2 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
}

.in-flex {
    flex: 1;
    min-width: 250px;
    text-align: justify;
}

.in-flex1 {
    flex: 1;
    min-width: 250px;
    text-align: justify;
}

.in-flex:first-child {
    flex: 2;
    padding: 25px;
    
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0px;
    position: relative;
    bottom: 1.5%;
    
}

.in-flex1:first-child {
    flex: 2;
    
    
    
    margin-bottom: 0px;
    
}

.in-flex div {
    padding: 25px;
    
    margin: 20px;
}

.in-flex1 div {
    
    
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    
}



.imagen_lanzamiento {
    display: flex;
    position: relative;
    width: 95%;
    margin: 0 auto;
    
    
}

.imagen_lanzamiento1 {
    display: flex;
    position: relative;
    width: 95%;
    margin: 0 auto;
    cursor: pointer;
    
    
}




.imagen_lanzamiento img {
    width: 100%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);   
    border-radius: 15px; 
}

.imagen_plenario {
    display: flex;
    height: 20em;
    
    
    
}

.imagen_plenario img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); 
}

.imagen_parrilleros {
    display: flex;
    height: 20em;
}

.imagen_parrilleros img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.imagen_movilizacion {
    display: flex;
    height: 25em;
    width: 100%;
}

.imagen_movilizacion img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.imagen_carlitos {
    display: flex;
    
    width: 100%;


}

.imagen_carlitos img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);


}



.texto_quienes_somos1 {
    color: #299bb6;
    text-align: justify;
    
    padding: 1em;
    
}

.flex-center1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 120em;
    overflow: hidden;
    
    
    

    
}



.padre-0 {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}

.padre-0 div {
    
    padding: 100px;
    padding-top: 50px;
    font-size: 20px;
}

.padre-1 div {
    border: 1px solid lightgray;
    padding: 100px;
    font-size: 20px;
}




@media (min-width: 300px) and (max-width: 530px) {

    

    .imagen_plenario img {
        width: 90%;
        
        
        position: relative;
        left: 5%;
    }

    .imagen_parrilleros img {
        width: 90%;
        
        
        position: relative;
        left: 5%;
    }

    #imagen_movilizacion1 {
        display: none;
    }

    .in-flex div {
        margin: 0;
        padding: 0;
        
        position: relative;
        top: 2%;
    }

    .texto_quienes_somos1 {
        text-align: justify;
        margin-top: 1em;
        
        
    }

    .imagen_lanzamiento {
        position: relative;
        width: 90%;
        bottom: 10%;
        
        
        
        
        
    }

    .imagen_lanzamiento img {
        
        width: 100%;
        
        
    }

    .imagen_movilizacion {
        position: relative;
        width: 90%;
        
        
    }

    
    .imagen_carlitos {
        position: relative;
        width: 90%;
        
        
    }

    

    .hijo-3 div {
        padding: 0;
        margin: 0 auto;
        
        height: 13em;
        
        
    }

    .hijo-2 div {
        padding: 0;
        margin: 0 auto;
    }

    

    

    

    .home {
        top: 8%;
        
        
    }

    .flex-center1 {
        height: 290em;


    }
    .texto_quienes_somos2 {
        display: none;
    }

    
    .flex-center3 {
        height: 90em;
    }

    .padre-0 div {
        
        padding: 0;
        top: 2%;

    }

    #Movilizacion {
        padding-top: 0;
        padding-bottom: 0;
    }

    

    
}

@media (min-width: 530px) and (max-width: 714px) {
    
    .home {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 10%;
        height: 150em;
    }

    .texto_quienes_somos1 {
        color: #299bb6;
        padding: 1em;
       position: relative;
       bottom: 2%;
       font-size: 0.9em;
       
       
    }

    .texto_quienes_somos2 {
        color: #299bb6;
        padding: 1em;
       position: relative;
       bottom: 2%;
       font-size: 0.9em;
       
       
    }


    

    .in-flex2 {
        flex: 1;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        
        right: 28em;
        
        
    }


    .flex-center1 {
        
        height: 230em;
        
    }

    
    .flex-center3 {
        height: 90em;
    }

    #Movilizacion {
        padding-top: 0;
        padding-bottom: 0;
    }

    .hijo-2  {
        
        position: relative;
        bottom: 10%;
    }

    .hijo-3 div {
        padding: 0;
        
    }

}

@media (min-width: 714px) and (max-width: 929px) {
   
    .home {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 12%;
    }

    .texto_quienes_somos1 {
        color: #299bb6;
       
       
       font-size: 0.9em;
    }

    .texto_quienes_somos2 {
        display: none;
       
       
    }

    .in-flex2 {
        display: none;
    }



    .flex-center3 {
        height: 85em;
    }

    .padre-0 div {
        position: relative;
        top: 5%;
    }

    .hijo-3 {
        position: relative;
        
        
    }

    .imagen_movilizacion  {
        
        height: 17em;
        width: 100%;
        
        
    }

    .flex-center1 {
        
        height: 260em;
        
    }

    

    #Movilizacion {
        padding-top: 0;
        padding-bottom: 0;
    }

    .hijo-3 div {
        padding: 0;
        
    }

    
}

@media (min-width: 930px) {
    .flex-center3 {
        height: 85em;
    }

    .in-flex2 {
        display: none;
    }

    .texto_quienes_somos2 {
        display: none;
       
       
    }

    .flex-center1 {
        
        height: 320em;
        
    }

    #Movilizacion {
        
        padding-bottom: 0;
    }

    .hijo-2  {
        
        position: relative;
        top: 10%;
    }

    .hijo-3 div {
        padding: 0;
        
    }
}











