* {/* configuracion inicial para que se aplique en general */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', 'sans-serif';
    text-decoration: none;
}

header {
    padding: 5px;
    background: linear-gradient(to right, #f4f4f4, #dedede );
}




body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.logo {
    max-width: 100%;
    display: flex;
    position: absolute;
    background-color: transparent;
    padding: 1em;
    
    left: 2%;
    
    transition: 1s;
}

.logo img {
    max-width: 7em;
    border-radius: 1em;
    padding: 0.3em;
    background-color: transparent;

    
    }

.logo:hover{
    
    transform: scale(1.5);
}

.nav_list {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f4f4f4, #dedede );
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    

}


.nav_list ul {
    display: flex;
    width: 350px;
    
    

}



.nav_list ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
    margin: 0 auto;

    
}

.nav_list ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    
    

}

.nav_list ul li a .icon {
position: relative;
display: block;
line-height: 75px;
font-size: 1.5em;
text-align: center;
transition: 0.5s;
color: #299bb6;


}

.nav_list ul li a .icon {
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: #299bb6;
    transition: 0.5s;
    position: relative;
    

}

.nav_list ul li.active a .icon {
    transform: translateY(-30px);
}












.nav_list ul li a .text {
    position: absolute;
    color: #299bb6;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none; 

    

}

.nav_list ul li a .text {
    
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
    transition: opacity 0.5s, transform 0.5s; /* Agrega la transición */
}




.nav_list ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
    pointer-events: auto; 
    

}

.icon-wrapper {
    display: inline-block;
    width: 2.5em; /* Ancho del ícono */
    height: 2em; /* Altura del ícono */
    font-size: 1em; /* Tamaño del ícono */
    line-height: 3.4em; /* Alinear verticalmente el ícono */
    overflow: hidden; /* Ocultar el contenido que exceda las dimensiones del contenedor */
}

/* Deshabilitar eventos de puntero para el contenedor del ícono */
.icon-wrapper {
    pointer-events: none;
}













    
    

    .icono_compartir {
        display: flex;
        padding: 0.8em;
        background: linear-gradient(to right, #f4f4f4, #dedede );
        color: #299bb6;
        font-size: 1.1em;
        justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
        
        
    }

    .icono_compartir a {
        margin: 0 auto; /* Ajusta el espaciado entre los íconos */
    }

    .icono_compartir i {
        font-size: 1em; /* Tamaño de los íconos */
        color: #299bb6;
    }

    .icons:hover {
        transform: scale(1.1);
        transition: all 1s ease;
    }
    
    #gmail:hover {
    color: #db4a39;
    transform: scale(1.5);
    }

    #WhatsApp, #facebook, #twitter, #instagram, #gmail {
        transition: all 1s ease-in-out; /* Define la transición en el estado normal */
    }
    
    #WhatsApp:hover {
        color: #25D366;
        transform: scale(1.5);
        
    }
    
    #facebook:hover {
        color: #3b5998;
        transform: scale(1.5);
    }
    
    #instagram:hover {
        color: #405DE6;
        transform: scale(1.5);
    }

    #twitter:hover {
        color: #1DA1F2;
        transform: scale(1.5);

    }

    

    .nav_list li a{
        display: flex;
        margin: 0.3em;
        color: #299bb6;
    }

    .flex-center {
        display: flex;
        justify-content: center;
        
        background-size: auto;
        background-position: center;
        
    
        
    }

    .tablon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: auto;
        background-position: center;
        
    
        
    }

    
    

    #fondo {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
      }
      
      #fondo::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../IMG-20230910-WA0563.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation: zoomIn 5s ease forwards;
    }
    
    @keyframes zoomIn {
        from {
        transform: scale(1);
        }
        to {
        transform: scale(1.2);
        }
    }
    




    #fondo1 {
        width: 100%;
        height: 50vh;
        background-image: url('../img/carpinteria3.png');
        background-repeat: no-repeat;
        background-size: cover;
        
        
        
        
    }

#fondo2 {
    width: 100%;
        height: 70vh;
        background-image: url('../img/IMG-20231207-WA0044\ \(1\).jpg');
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
        margin: 0 auto;
        
    

}

.encontrarnos {
    max-width: 10em;
    border-radius: 1em;
    padding: 0.3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.66);
    font-size: 1.5em;
    position: relative;
    top: 80%;
    left: 3em;
    transition: all 1s ease; 
    background-color: #299bb6;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 7%;


}

.encontrarnos p, .barrioxbarrio p {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
}

.encontrarnos i, .barrioxbarrio i {
    margin-left: 0.5em; /* Espacio entre el texto y el ícono */
}




.encontrarnos.animado {
    animation-name: mianimacion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes mianimacion {
    0% {background-color: #299bb6; top: 80%; left: 3em; }
    25% {background-color: #2287b1; top: 70%; left: 2em;}
    50% {background-color: #1b71aa; bottom: 50%; left: 6em;}
    75% {background-color: #2287b1; bottom: 11em; left: 2em;}
    100% {background-color: #299bb6; bottom: 10em; left: 5em;}

}

.barrioxbarrio {
    max-width: 10em;
    border-radius: 1em;
    padding: 0.3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.66);
    font-size: 1.5em;
    position: relative;
    top: 90%;
    right: 3.5em;
    transition: all 1s ease; 
    background-color: #299bb6;
    cursor: pointer;
    height: 7%;  
}

.barrioxbarrio.animado {
    animation-name: mianimacion1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes mianimacion1 {
    0% {background-color: #299bb6; top: 90%; right: 3.5em; }
    25% {background-color: #2287b1; top: 80%; right: 3em;}
    50% {background-color: #1b71aa; top: 70%; right: 6.5em;}
    75% {background-color: #2287b1; top: 65%; right: 2em;}
    100% {background-color: #299bb6; top: 90%; right: 1em;}
    

}
    
    
    



.nueva {
    max-width: 17em;
    padding: 1em;
    align-items: center;
    align-content: center;
    position: relative;
    top: 0.6em;
    
    
}

.exclusion {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 0.3em;
    font-size: 1.5em;
    font-weight: 50;

}

.trabajo {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 0.3em;
    font-size: 2em;
    font-weight: bold;
}

.oportunidad {
    display: inline-flex;
    width: 95%;
    height: 2.5em;
    
    background: #374cb0;
    color: white;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 1em;
    position: relative;
    overflow: hidden;

    
    margin-bottom: 0.3em;
    
    font-weight: bold;
    
    
    padding: 10px 20px;
        
    transition: transform 0.3s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.66);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    
}

.oportunidad:hover::after {
    top: 0; 
}


.oportunidad span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.oportunidad::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #030b9d;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}

.leo_concejo {
    max-width: 120em;
    padding: 1em;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column; /* Cambia la dirección a column para colocar los elementos uno debajo del otro */
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    
    top: 20%;
    
    
}

.coherencia {
    color: white;
    position: relative;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 0.3em;
    font-size: 1.5em;
    font-weight: 50;

}

.bandera {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 0.3em;
    font-size: 2em;
    font-weight: bold;
}

.honestidad {
    width: 9em;
    color: #607a9d;
    background-color: #eaddcc;
    
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 1em;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.66);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    
}

.honestidad:hover {
    transform: scale(1.1); /* Cambia el tamaño al 110% */
}

.celeste1 {
    background-image:linear-gradient(to right, #1b71aa, #1b71aa,  #2796b4, #299bb6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#fondo3 {
    width: 100%;
        height: 60vh;
        background-image: url('../img/frutosterritorio2.jpg');
        background-repeat: no-repeat;
        background-size: cover;

}

.produccion  {
    color: white;
    position: relative;
    text-align: center;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    
    font-size: 1.5em;
    font-weight: 50;
    margin: 0 auto;
}

.autogestion {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 0.3em;
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;
}

.frutosDelTerritorio {
    width: 16em;
    color: #cda560;
    background-color: #808a56;
    margin-bottom: 0.3em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border-radius: 1em;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.66);
    border: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-top: 1em;
    
    
}

.frutosDelTerritorio::after {
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: .4s ease-in-out all;
    border-radius: 100px;
    transform-origin: center;
}

.frutosDelTerritorio:hover::after {
    transform: scale(400);
    background: #b66725;
}

.frutosDelTerritorio span {
    position: relative;
    z-index: 2;
}

.frutos_territorio {
    max-width: 120em;
    padding: 1em;
    align-items: center;
    align-content: center;
    position: relative;
    top: 50%;
    
    
    
}



#fondo4 {
    width: 100%;
        height: 65vh;
        background-image: url('../img/WhatsApp\ Image\ 2023-10-21\ at\ 23.43.56.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        align-content: center;

}



.formacion {
    width: 8.5em;
    background: none;
    color: #c1f1ede3;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
    background-color: none;
    
    cursor: pointer;
    border: none;
    padding: 0.3em;
    transition: transform 0.3s ease;


    
    
}

.formacion svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
    border-radius: 0.3em;
}

.formacion rect {
    width: 100%;
    height: 100%;
    stroke: #1d9991;
    stroke-width: 6px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: 6s ease all;
    ;
}

.formacion:hover {
    transform: scale(1.1); /* Cambia el tamaño al 110% */
}


.formacion:hover rect {
    stroke-dashoffset: 0;
}

.encuentro_ideas {
    position: relative;
    top: 4em;
}

#fondo5 {
    width: 100%;
        height: 75em;
        background-color:#f5f5f5;
        background: linear-gradient(to right, #f4f4f4, #dedede );
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
        
        
       
        
        
        

}

.novedades {
    width: 95%;
    position: relative;
    text-align: justify;
    overflow: hidden;
    top: 2%;
    
    
}

.novedades1 {
    font-size: 1.5em;
    color: #299bb6;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.encuentroxrosario {
    width: 14em;
    font-size: 1.4em;
    color: #299bb6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    
}

.video {
    position: relative;
    bottom: 10em;   
    right: 10em;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 25em;
    width: 100%;
    overflow: hidden;

}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.monumento {
    height: 15em;
    width: 100%;
    opacity: 0.5;
    border-radius: 2em;
    transform: scale(0.8);
    transition: .7s ease-in-out all;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    
    
}

.monumento.visible {
    opacity: 1;
    transform: scale(0.9);
    

}

.leo_manifestacion {
    height: 15em;
    width: 95%;
    opacity: 0.5;
    border-radius: 2em;
    transform: scale(0.9);
    transition: .7s ease-in-out all;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    position: relative;
    left: 0.5em;

}



.leo_manifestacion.visible {
    opacity: 1;
    transform: scale(1) translateX(0);

}


.cuerpo {
    color: #299bb6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: justify;
    padding: 0.2em;
}

.cuerpo1 {
    color: #299bb6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 0.2em;
    margin: 1.5em;
}





.container1 {
    height: 2000px; /* Altura suficiente para permitir el scroll */
    background-color: #f0f0f0;
}



.content {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.parte {
    height: 15em;
    width: 90%;
    opacity: 1;
    border-radius: 2em;
    margin-top: 2em;
    position: relative;
    left: 1em;
    
    
    
}

.participar {
    width: 95%;
    position: relative;
    text-align: center;
    bottom: 2em;
    
    
}

.flex-center1 {
    display: wrap;
    
    margin: 0 auto;
}

#fondo6 {
    width: 100%;
        height: 35em;
        background-color:#f5f5f5;
        background: linear-gradient(to right, #f4f4f4, #dedede );
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
        display: flex;
    justify-content: center;
    align-items: center;
        
        
        
        
        

}

.participar1 {
    width: 13.5em;
    background-color: #55ACEE;
    color: #dedede;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    top: 2em;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 1em;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.66);
    overflow: hidden
    
    
    
    
    
}

.participar1::after {
    content: "";
    width: 100%;
    height: 20px;
    
    position: absolute;
    z-index: 1;
    top: -1.2em;
    left: calc(-100% - 40px);
    
    border-bottom: 40px solid #226699;
    border-right: 40px solid transparent;
    transition: .4s ease-in-out all ;



}

.participar1:hover::after {
    left: 0;
}

.participar1 span {
    position: relative;
    z-index: 2;
}


footer {
    height: 60vh;
    width: 100%;
    background-color:#beb4b4;
    background: linear-gradient(to right, #f3eeee, #b8b2b2 );
    position: relative;
    display: flex;
    flex-direction: column;
}

.logo1 {
    max-width: 100%;
    display: flex;
    position: absolute;
    background-color: transparent;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    order: 1;
    

}

.logo1 img {
    max-width: 12em;
    border-radius: 1em;
    padding: 0.3em;
    background-color: transparent;

    
    }

    .icono_compartir1 {
        display: flex;
        padding: 1em;
        background-color:transparent;
        color: #299bb6;
        font-size: 1.5em;
        order: 2;
    }

    .icono_compartir1 i {
        margin: 0.3em;
        color: #299bb6;
        
            
        
    }

    .info_legal {
        display: flex;
        list-style-type: none;
        gap: 1em;
        text-align: center;
        justify-content: center ;
        align-items: center;
        order: 4;
        top: 72%;
        position: relative;
        }
    
    .info_legal li a {
        position: relative;
        font-size: .6rem;
        color: #299bb6;
        bottom: 2rem;
        
    }

    .foot_text {
        position: relative;
        order: 3; /* Se muestra tercero */
        margin: 0 auto; /* Centrado horizontal */
        top: 62%;
        color: #299bb6;
        font-size: 0.9em;

        
    }

    /* Media query para pantallas más grandes, como tablets y desktop */
@media (min-width: 556px) {
    #fondo2 {
        background-image: url('../img/IMG-20231207-WA0044\ \(4\).jpg');
    background-position: center;
    background-size: cover;
    
    }

    .leo_concejo {
        max-width: 120em;
        padding: 1em;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: column; /* Cambia la dirección a column para colocar los elementos uno debajo del otro */
        justify-content: center; /* Centra horizontalmente los elementos */
        align-items: center; /* Centra verticalmente los elementos */
        
        top: 25%;
        
        
    }

   

    #fondo3 {
        width: 100%;
            height: 80vh;
            background-image: url('../img/frutosterritorio2\(1\).jpg');
            background-repeat: no-repeat;
            background-size: cover;
    
    }

    .icono_compartir i {
        font-size: 1.5em; /* Tamaño de los íconos */
        
        
    }

    .nav_list ul li a .icon {
        
        font-size: 1.5em;
        
    }

    .nav_list ul li a .text {
        
        font-size: 1em;
        
    
    }

    

    
    
}

@media (min-width: 714px) and (max-width: 929px) {
    #fondo2 {
        background-image: url('../img/IMG-20231207-WA0044\ \(5\).jpg');
    background-position: center;
    background-size: cover;
    
    }
    #fondo3 {
        width: 100%;
            height: 90vh;
            background-image: url('../img/frutosterritorio2\(2\).jpg');
            background-repeat: no-repeat;
            background-size: cover;
    
    }

    .monumento {
        height: 20em;
        width: 100%;
        opacity: 0.5;
        border-radius: 2em;
        transform: scale(0.8);
        transition: .7s ease-in-out all;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
        
        
    }

    .leo_manifestacion {
        height: 20em;
        width: 95%;
        opacity: 0.5;
        border-radius: 2em;
        transform: scale(0.9);
        transition: .7s ease-in-out all;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
        position: relative;
        left: 0.5em;
    
    }
    .novedades {
        width: 95%;
        position: relative;
        text-align: justify;
        overflow: hidden;
        
        
        
    }

    

    .icono_compartir i {
        font-size: 2em; 
        
        
    }



    .nav_list ul li a .icon {
        
        font-size: 1.8em;
        
        
    }

    .nav_list ul li a .text {
        
        font-size: 1.3em;
        
    
    }

    .nav_list {
        height: 15vh;
        width: 100%;
    }

    .nav_list ul {
        width: 700px;
        
        
        
    }

    .nav_list ul li.active a .text {
        
        transform: translateY(2vh);
    
    }

    .icon-wrapper {
        display: inline-block;
        width: 2.5em; /* Ancho del ícono */
        height: 2em; /* Altura del ícono */
        font-size: 1em; /* Tamaño del ícono */
        line-height: 2.5em; /* Alinear verticalmente el ícono */
        overflow: hidden; /* Ocultar el contenido que exceda las dimensiones del contenedor */
    }
    
    /* Deshabilitar eventos de puntero para el contenedor del ícono */
    .icon-wrapper {
        pointer-events: none;
    }

    .cuerpo, .cuerpo1 {
    
        text-align: center;
        width: 90%;
        margin: 1.5em;
        
    }

    #fondo5 {
        height: 75em;
    }

    

    
}

@media (min-width: 930px) {

    #fondo1 {
        width: 100%;
        height: 25em;
        background-image: url('../img/carpinteria3.png');
        background-repeat: no-repeat;
        background-size: cover;
        
        
        
        
    }
    #fondo2 {
        background-image: url('../img/IMG-20231207-WA0044\ \(6\).jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 35em;
    
    }

    .leo_concejo {
        max-width: 120em;
        padding: 1em;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: column; /* Cambia la dirección a column para colocar los elementos uno debajo del otro */
        justify-content: center; /* Centra horizontalmente los elementos */
        align-items: center; /* Centra verticalmente los elementos */
        left: 30%;
        top: 30%;
        
        
    }
    #fondo3 {
        width: 100%;
            height: 30em;
            background-image: url(../img/frutosterritorio2\(2\).jpg);
            background-repeat: no-repeat;
            background-size: cover;
    
    }

    .frutos_territorio {
        max-width: 120em;
        padding: 1em;
        align-items: center;
        align-content: center;
        position: relative;
        
        
        
        
    }

    .monumento {
        height: 20em;
        width: 50%;
        opacity: 0.5;
        border-radius: 2em;
        transform: scale(0.8);
        transition: .7s ease-in-out all;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
        
        
        
    }

    

    .leo_manifestacion {
        height: 20em;
        width: 50%;
        opacity: 0.5;
        border-radius: 2em;
        transform: scale(0.9);
        transition: .7s ease-in-out all;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
        position: relative;
        left: 0.5em;
    
    }
    .novedades {
        width: 100%;
        position: relative;
        height: 70em;
        overflow: hidden;
        top: 2%;
        display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
        
        
        
    }

    #fondo5 {
        width: 100%;
            height: 70em;
    }

    .cuerpo {
        color: #299bb6;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        text-align: justify;
        width: 90%;
        margin: 2em;
        
    }
    
    .cuerpo1 {
        color: #299bb6;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        text-align: center;
        margin: 1.5em;
        
        
    }

    .nueva {
        max-width: 17em;
        padding: 1em;
        align-items: center;
        align-content: center;
        position: relative;
        top: 25%;
        
        
    }

    .nav_list {
        height: 4.5em;
        width: 100%;
    }

    .icon-wrapper {
        display: inline-block;
        width: 2.5em; /* Ancho del ícono */
        height: 2em; /* Altura del ícono */
        font-size: 1.3em; /* Tamaño del ícono */
        line-height: 2.5em; /* Alinear verticalmente el ícono */
        overflow: hidden; /* Ocultar el contenido que exceda las dimensiones del contenedor */
    }
    
    /* Deshabilitar eventos de puntero para el contenedor del ícono */
    .icon-wrapper {
        pointer-events: none;
    }

    .nav_list ul {
        width: 700px;
    }

   
    
    

    
    
    
}

@media screen and (min-width: 667px)  and (max-width:714px) and (orientation: landscape) {



    #fondo {
        position: relative;
        width: 100%;
        height: 150vh;
        overflow: hidden;
    }

    .barrioxbarrio {
        display: flex;
        height: 1.5em;
        
    }

    .encontrarnos {
        height: 1.5em;


    }

    #fondo1 {
        width: 100%;
        height: 25em;
    }

    #fondo2 {
        width: 100%;
        height: 35em;
    }

    #fondo3 {
        width: 100%;
        height: 30em;
        background-image: url('../img/frutosterritorio2landscape.jpg');
    }

    #fondo4 {
        
            height: 20em;
            
    
    }

    #fondo5 {
        height: 55em;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .embed-container {
        position: relative;
        
        display: flex;
        height: 30em;
        width: 100%;
        align-content: center;
        align-items: center;
        
        
    
    }
    
    .embed-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 50%;
        
    }
    
    #fondo6 {
        width: 100%;
            height: 35em;
            display: flex;
            
    }

    footer {
        height: 30em;
        width: 100%;
        
    }

    .cuerpo1 {
        
        text-align: center;
        margin: 1.5em;
    
    }

    .frutos_territorio {
        
        top: 60%;
        
        
        
    }

    

    

    
    






}

@media screen and (min-width: 714px) and (max-width:1400px) and (orientation: landscape) {
    
    #fondo {
        height: 150vh;
    }

    #fondo1 {
        width: 100%;
        height: 25em;
    }

    #fondo2 {
        width: 100%;
        height: 35em;
    }

    
    
    #fondo5 {
        height: 75em;
        width: 100%;
        
    }
    

    .nav_list ul li.active a .text {
        opacity: 1;
        transform: translateY(-10px);
        pointer-events: auto; 

    }

    .novedades {
        width: 100%;
        height: 90em;

    }

    footer {
        width: 100%;
        height: 25em;
    }

    .barrioxbarrio {
        display: flex;
        height: 1.5em;
        
    }

    .encontrarnos {
        height: 1.5em;


    }


}

