* {/* configuracion inicial para que se aplique en general */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', 'sans-serif';
    text-decoration: none;
}



body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.logo {
    max-width: 100%;
    display: flex;
    position: absolute;
    background-color: transparent;
    padding: 1em;
    bottom: 64.5vh;
    right: 56.5vh;
    
    transition: 1s;
}

.logo img {
    max-width: 7em;
    border-radius: 1em;
    padding: 0.3em;
    background-color: transparent;

    
    }

.logo:hover{
    
    transform: scale(1.5);
}

    .nav_list ul {
        display: flex;
        background-color: #f4f4f4;
        background: linear-gradient(to right, #f4f4f4, #dedede );
        
        
        
        list-style: none;
    
        
        font-size: 1.3em;
        
        
    }

    .nav_list ul li {
        align-items: center;
        margin: 0 auto;
        text-align: center;
        
    }



    .icono_compartir {
        display: flex;
        padding: 1em;
        background-color: #f4f4f4;
        background: linear-gradient(to right, #f4f4f4, #dedede );
        color: #299bb6;
        font-size: 1.3em;
        
        
    }

    .icono_compartir i {
        
        align-items: center;
        text-align: center;
        margin: 0 auto;

    }

    

    .nav_list li a{
        display: flex;
        margin: 0.3em;
        color: #299bb6;
    }

    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: auto;
        background-position: center;
        
    
        
    }

    #fondo {
        width: 100%;
        height:100vh;
        background-image: url('../IMG-20230910-WA0563.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }

    #fondo1 {
        width: 100%;
        height: 100vh;
        background-image: url('../img/carpinteria.png');
        background-repeat: no-repeat;
        background-size: cover;
        
    }

#fondo2 {
    width: 100%;
        height: 100vh;
        background-image: url('../img/IMG-20231207-WA0044.jpg');
        background-repeat: no-repeat;
        background-size: cover;

}

.encontrarnos {
    max-width: 10em;
    border-radius: 1em;
    padding: 0.3em;
    color: white;
    font-size: 1.5em;
    position: relative;
    bottom: 10em;
    left: 5em;
    transition: all 1s ease; 
    background-color: #299bb6;
    cursor: pointer;  


}

.encontrarnos.animado {
    animation-name: mianimacion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes mianimacion {
    0% {background-color: #299bb6; bottom: 10em; left: 5em; }
    25% {background-color: #2287b1; bottom: 11em; left: 2em;}
    50% {background-color: #1b71aa; bottom: 7.5em; left: 10em;}
    75% {background-color: #2287b1; bottom: 11em; left: 2em;}
    100% {background-color: #299bb6; bottom: 10em; left: 5em;}

}

.barrioxbarrio {
    max-width: 10em;
    border-radius: 1em;
    padding: 0.3em;
    color: white;
    font-size: 1.5em;
    position: relative;
    bottom: 7em;
    left: 2em;
    transition: all 1s ease; 
    background-color: #299bb6;
    cursor: pointer;  
}

.barrioxbarrio.animado {
    animation-name: mianimacion1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes mianimacion1 {
    0% {background-color: #299bb6; bottom: 7em; left: 2em; }
    25% {background-color: #2287b1; bottom: 11em; left: 2em;}
    50% {background-color: #1b71aa; bottom: 7.5em; left: -7em;}
    75% {background-color: #2287b1; bottom: 11em; left: 2em;}
    100% {background-color: #299bb6; bottom: 7em; left: 2em;}

}

